################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/assets/img
/s/share
/s/shareImg
/Bin
/assets/copyright.txt
/assets/privacy.txt
