/*#region DIV */
div.placeTopDiv
{
    position:absolute;
    width:100%;
    height:15%;
}

div.placeDiv
{
    position:absolute;
    top:15%;
    width:80%;
    height:65%;
    background-color:white;
}

div.gridContainerDiv
{
    position:absolute;
    display:grid;
    grid-template-columns:49% 49%;
    grid-template-rows: 18.4% 18.4% 18.4% 18.4% 18.4%;
    grid-column-gap:2%;
    grid-row-gap:2%;

    display: -ms-grid;
    -ms-grid-columns: 49% 2% 49%;
    -ms-grid-rows: 18.4% 2% 18.4% 2% 18.4% 2% 18.4% 2% 18.4%;
    -ms-grid-column-gap:2%;
    -ms-grid-row-gap:2%;
    height:90%;
    width:90%;
}

div.gridItemDiv
{
    width:100%;
    height:100%;
    background-color:black;
}

/*#region Gird For IE */
.gridContainerDiv > .gridItem1 {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}
.gridContainerDiv > .gridItem2
{
    -ms-grid-column: 3; 
    -ms-grid-row: 1;
}
.gridContainerDiv > .gridItem3
{
    -ms-grid-column: 1; 
    -ms-grid-row: 3;
}
.gridContainerDiv > .gridItem4
{
    -ms-grid-column: 3; 
    -ms-grid-row: 3;
}
.gridContainerDiv > .gridItem5
{
    -ms-grid-column: 1; 
    -ms-grid-row: 5;
}
.gridContainerDiv > .gridItem6
{
    -ms-grid-column: 3; 
    -ms-grid-row: 5;
}
.gridContainerDiv > .gridItem7
{
    -ms-grid-column: 1; 
    -ms-grid-row: 7;
}
.gridContainerDiv > .gridItem8
{
    -ms-grid-column: 3; 
    -ms-grid-row: 7;
}
.gridContainerDiv > .gridItem9
{
    -ms-grid-column: 1; 
    -ms-grid-row: 9;
}
.gridContainerDiv > .gridItem10
{
    -ms-grid-column: 3; 
    -ms-grid-row: 9;
}
/*#endregion */

/*#endregion */

/*#region Image */
img.titlePlace
{
    width:80%;
}

img.btnMake
{
    position:absolute;
    top:85%;
    width:40%;
}

img.placeItem
{
    object-fit: cover;
    width:100%;
    height:100%;
}

img.cover{
    opacity:0.5;
}
/*#endregion */